*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/*
/base/.idea/*
/third_party/openssl/
/third_party/boringssl/
/third_party/flatbuffers/*
/third_party/protobuf/*
/third_party/protobuf/bazel-protobuf
/third_party/protobuf/build/
/third_party/prefix/*
/third_party/*
/boringssl/
/openssl/
.vscode/